<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kahveler</title>
    <link rel="stylesheet" href="/css/KahveMenu.css" />
    <script src="/js/KahveMenu.js" defer></script>
</head>
<body>
    <div class="main">
        <img src="/images/kahve.jpg" alt="americano" />
        <strong class="americano">americano</strong>
        <strong class="fiyat">45_lira</strong>
        <button class="Siparis_ver">Sipariş_ekle</button>
        <strong class="sepetMiktar">#</strong>
        <a asp-controller="SepeteGit" asp-action="SepeteGitt"> <button class="Sepete_git">Sepete_git</button></a>
    </div>
</body>
</html>
